h1{
    background-color: rgb(150, 50, 40);
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid;
}

p{color: red;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: aqua;
}